.form-group
  label.control-label.col-sm-2(for='uuid') UUID:
  .col-sm-10
    input#uuid.form-control(type='text' name='uuid')

.form-group
  label.control-label.col-sm-2(for='token') API Token:
  .col-sm-10
    input#token.form-control(type='text' name='token')

.form-group
  label.control-label.col-sm-2(for='api-endpoint') Habitica URL:
  .col-sm-10
    input#api-endpoint.form-control(type='text' name='api-endpoint' placeholder='Leave blank to use habitica.com')

.from-group
  .col-sm-offset-8.col-sm-4
    #login-with-tokens-btn.btn.btn-lg.btn-primary.btn-block Login
