.form-group
  label.control-label.col-sm-2(for='username') Username:
  .col-sm-10
    input#username.form-control(type='text' name='username')

.form-group
  label.control-label.col-sm-2(for='password') Password:
  .col-sm-10
    input#password.form-control(type='password' name='password')

.form-group
  label.control-label.col-sm-2(for='api-login-endpoint') Habitica URL:
  .col-sm-10
    input#api-login-endpoint.form-control(type='text' name='api-login-endpoint' placeholder='Leave blank to use habitica.com')

.from-group
  .col-sm-offset-8.col-sm-4
    #login-with-auth-btn.btn.btn-lg.btn-primary.btn-block Login
