extends ./options/layout.jade

block content
  form.form-horizontal
    .form-group.text-center
      h4 Habitica Settings

    include ./options/_login-with-uuid.jade

    .from-group
      .col-sm-offset-8.col-sm-4
        #save.btn.btn-lg.btn-primary.btn-block Save Settings

  .row: .col-xs-12.text-center
    h3 Press alt + shift + s to send webpage to Habitica as a todo

script(src='../js/options.js')
