extends ./options-layout.jade

block content
  form.form-horizontal
    .form-group.text-center
      h4 Habitica Settings

    .form-group
      label.control-label.col-sm-2(for='uuid') UUID:
      .col-sm-10
        input#uuid.form-control(type='text' name='uuid')

    .form-group
      label.control-label.col-sm-2(for='token') API Token:
      .col-sm-10
        input#token.form-control(type='text' name='token')

    .form-group
      label.control-label.col-sm-2(for='api-endpoint') Habitica URL:
      .col-sm-10
        input#api-endpoint.form-control(type='text' name='api-endpoint')

    .from-group
      .col-sm-offset-8.col-sm-4
        #save.btn.btn-lg.btn-primary.btn-block Save Settings

  .row: .col-xs-12.text-center
    h3 Press alt + shift + s to send webpage to Habitica as a todo

script(src='../js/options.js')
